
nav{
    background-color: rgb(27, 26, 26);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100%;
    margin-right: 100px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.622);

}

.nav-btn{
    background-color: transparent;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    width: 150px;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.nav-btn:hover{
    background-color: rgba(47, 45, 47, 0.535);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.395);
    

}

.nav-link{
    color: white;
    text-decoration: none;

}

#home-btn{
    margin-bottom: 168px;
    
}


#home{
   background-image: url('../assets/images/R.jpeg');
   height: 1000px;
   text-align: center;
   color: rgba(255, 255, 255, 0.817);
   font-family: monospace;
   font-size: 50px;
}


.scroll{
    border: 1px solid transparent;
    background-color: transparent;
    color: white;
    animation-name: bounce;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    margin-top: 200px;
}


@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .intro{
    padding-top: 300px;
    margin-left: 100px;

  }

  .scroll-link{
    color: white;
  }

  .scroll-link:hover{
    color: grey;
  }

  .me{
    color: rgba(147, 37, 124, 0.82);
  }

  #about{
    background-image: linear-gradient(rgb(72, 72, 72), rgb(42, 44, 44), rgb(7, 8, 8));
    height: 1200px;
  }

 #work{
    height: 2000px;
    z-index: 1;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.957),rgb(23, 23, 36), rgb(9, 9, 14) );

 }

  #projects{
    text-align: center;
    padding-top: 100px;
    text-decoration: underline;
    margin-bottom: 80px;
    color: rgba(122, 118, 118, 0.641);
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  #about-me{
    margin-left: 650px;
    padding-top: 50px;
    text-decoration: underline;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgba(220, 230, 230, 0.674);

  }
  
  .aboutContainer{
    text-align: center;
    display: flex;
    margin-bottom: 80px;
    color: white;
  }

 
  .details{
    width: 400px;
    height: fit-content;
    margin-left: 250px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

  }

  .slide-in-left {
    position: relative;
    left: -100%;
    width: 50%;
    height: 300px;
  }
  
  .its-visible {
    animation: slide-in-left 2s ease-out;
    left: 0;
  }
  
  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
 

  .slide-in-right {
    position: relative;
    right: -100%;
    width: 50%;
    height: 300px;
  }
  
  .is-visible {
    animation: slide-in-right 2s ease-out;
    right: 0;
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .progress{
    width: 500px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 150px;
    padding-left: 5px;
    color: black;
  }

  .progress-bar{
    margin-left: 5px;
  }

  .details{
    display: flex;
  }

  .icon{
    display: flex;
    margin-left: 80px;
    margin-top: 150px;
    text-align: center;
  }
  
  .add-on{
    margin-top: 20px;
    width: 200px;
    height: fit-content;
    color: rgb(197, 196, 196);
  }

  .group{
    margin-left: 200px;

  }

  h5{
    margin-bottom: 20px;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
    color: rgba(184, 180, 180, 0.567);
  }

  .char{
    color: white;
    background-color: rgb(87, 171, 171);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .footer{
    display: flex;
    margin-left: 100px;
    list-style-type: none;
    margin-top: 100px;
  }

  footer{
    background-color: rgb(19, 19, 19);
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(162, 161, 161, 0.519);
  }

  .link{
    color: white;
    margin-left: 250px;
    padding: 20px;
    border-radius: 5px;
  }

  .link:hover{
    color: rgb(160, 51, 144);
    box-shadow: 2px 2px 2px 2px rgba(42, 42, 42, 0.893);
  }

  .pro{
    height: 400px;
    width: 400px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
    position: sticky;

  }

  .one{
    margin-left: 200px;
  }

  .image{
    height: 400px;
    width: 400px;
    border-radius: 10px;
   
  }

  

  .pro:hover .image{
    opacity: 0.1;
  }

 

  .learn-more {
    position: absolute;
    right: 50%;
    left: 5%;
    top: 40%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    margin-left: 130px;
    font-family: monospace;
    font-size: 25px;
    border: 1px solid transparent;
    width: fit-content;
    padding: 15px;
    border-radius: 52px;
    color: white;
    background-color: pink;
    box-shadow: 1px 1px 1px 1px rgba(149, 70, 151, 0.52);
  }

  .learn-more:hover{
    background-color: rgba(149, 70, 151, 0.52);
    box-shadow: 1px 1px 1px 1px pink;
    animation-name: pulse;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .pro:hover .learn-more {
    opacity: 1;
    
  }


  .modal-container {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  display: block;
  color: black;
  text-align: center;
  border: 2px solid black;
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(59, 58, 58, 0.577);
  z-index: 9999;

  }

  .modal-title{
    margin-top: 10px;
    margin-left: 13px;
    text-decoration: none;
    color: black;
    font-family: cursive;
  }

  .modal-body{
    height: 250px;
    background-color: rgba(196, 126, 221, 0.588);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-footer{
    height: 55px;
    padding-bottom: 20px;
  }

  .modal-header{
  color: white;
  text-align: center;
 
  }

 
.view-site{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.793);

    
}

.view-site:hover{
  color: rgba(0, 0, 0, 0.313);

}
















  

 
  




  